table th{
    background-color: gray;
    border: solid 2px black;
}
table{
    border: 1;
}

td{
    border: solid 2px black;
    text-align: -internal-center;
    text-align: center;
}

table {
    border-spacing: 0px;
    height: auto;
}

.id{
    width: 70px;
}

.nombre{
    width: 150px;
}

.apellido{
    width: 150px;
}

.edad{
    width: 70px;
}

.equipo{
    width: 130px;
}

.posicion{
    width: 130px;
}

.goles{
    width: 70px;
}

.titulo{
    width: 70px;
}

.facultad{
    width: 70px;
}

.ano_graduacion{
    width: 130px;
}

.label_formulario{
    display: block;
}






